@font-face {
	font-family: 'tenup';
	src:url('../fonts/tenup.eot?-us5kvk');
	src:url('../fonts/tenup.eot?#iefix-us5kvk') format('embedded-opentype'),
		url('../fonts/tenup.woff?-us5kvk') format('woff'),
		url('../fonts/tenup.ttf?-us5kvk') format('truetype'),
		url('../fonts/tenup.svg?-us5kvk#tenup') format('svg');
	font-weight: normal;
	font-style: normal;
}

.tenup-company-photo {
	text-align: center;
}

#wpadminbar .tenup-icon {
	width: 15px;
	height: 20px;
}

#wpadminbar .tenup-icon:before {
	font-family: 'tenup';
	content: "\e600";
	font-size: 1em;
	color: #999;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	position: relative;
	top: 1px;
}

#wpadminbar .hover .tenup-icon:before {
	color: #2ea2cc;
}

.wrap .tenup-plugin-install-warning {
	border-left: 4px solid #ffba00;
}

