.tenup-company-photo {
	text-align: center;
}

#wpadminbar .tenup-icon {
	width: 20px;
	height: 32px;
	background-size: 20px;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 32 512 512'%3E%3Cpath fill='rgba(240,245,250,0.6)' transform='scale(1,-1) translate(0,-512)' d='M255.994 480c-141.405-0.014-255.994-114.61-255.994-255.991 0-39.040 9.011-75.924 24.613-109.009l2.683-2.772 158.15 158.147-49.731 49.735h216.408v-216.393l-49.731 49.738-159.055-159.064c34.032-16.716 72.189-26.39 112.675-26.39 141.379 0 256.003 114.606 256.003 256.009-0.003 141.381-114.625 255.991-256.019 255.991z' /%3E%3C/svg%3E");
}

#wpadminbar .tenup-icon:before {
	display: none;
}

#wpadminbar .hover .tenup-icon {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 32 512 512'%3E%3Cpath fill='%2300b9eb' transform='scale(1,-1) translate(0,-512)' d='M255.994 480c-141.405-0.014-255.994-114.61-255.994-255.991 0-39.040 9.011-75.924 24.613-109.009l2.683-2.772 158.15 158.147-49.731 49.735h216.408v-216.393l-49.731 49.738-159.055-159.064c34.032-16.716 72.189-26.39 112.675-26.39 141.379 0 256.003 114.606 256.003 256.009-0.003 141.381-114.625 255.991-256.019 255.991z' /%3E%3C/svg%3E");
}
