.tenup-company-photo {
	text-align: center;
}

#wpadminbar .tenup-icon {
	background-color: currentColor;
	height: 32px;
	-webkit-mask: url("../img/fueled-bolt.svg") center / 20px auto no-repeat;
	mask: url("../img/fueled-bolt.svg") center / 20px auto no-repeat;
	width: 20px;
}
