.pw-weak {
	display: none !important;
}

#login p.description.indicator-hint {
	margin-top: 12px;
}

.pw-message {
	color: #666; /* stylelint-disable-line sh-waqar/declaration-use-variable */
	font-style: italic;
}
