.tenup-badge {
	background: url(../img/logo.png) no-repeat top left;
	height: 110px;
	width: 110px;
	display: inline-block;
	position: absolute;
	top: 0;
	right: 0;
}

.about-wrap .section {
	margin-top: 40px;
	padding-bottom: 20px;
}

.about-wrap .center {
	text-align: center;
}

.about-wrap .section ul {
	list-style: disc;
	margin-left: 25px;
}